[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"osol.extremum" = "*"
numpy = "*"
scipy = "*"
sympy = "*"
matplotlib = "*"
bokeh = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.6"

[scripts]
optimize = "python ./Scripts/alg_work.py"
