[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"osol.extremum" = "*"
numpy = "*"
scipy = "*"
sympy = "*"
matplotlib = "*"
bokeh = "*"

[dev-packages]

[requires]
python_version = "3.6"
